.slice{
    word-wrap:break-word;
    display:inline-block;
    text-overflow: ellipsis;
    height: 150px;
    overflow: hidden;
    padding: 1%;
    padding-top:2%;
    margin:0; /* If you want no margin */
    background: url('/assets/postit.jpg'); 
    background-repeat: no-repeat;
    background-size: 100%;
}