.slice{
    word-wrap:break-word;
    border-style: solid;
    display:inline-block;
    text-overflow: ellipsis;
    height: 120px;
    overflow: hidden;
    background-image: url('../../assets/postit.png');
}