.example-card {
    max-width: 200px;
  }
  
.example-header-image {
/* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
background-size: cover;
}

mat-card {  
    padding:1;
    grid-column: 1;
    grid-row: 1;
}

.title{
    padding:1px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}