<mat-card *ngIf="story">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{story.title}}</mat-card-title>
      <mat-card-subtitle *ngIf="story.subtitle" >{{story.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{story.cover}}" alt="Photo of the story">
    <mat-card-content>
      <p>
        {{story.abstract}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="link"  (click)="edit(story.id)" >Editer</button>
      <button mat-raised-button (click)="show = !show">{{show ? 'Publier' : 'Dépublier'}} </button>
      <button mat-raised-button color="warn" (click)="delete(story)" >Supprimer</button>
    </mat-card-actions>
</mat-card>
