<mat-progress-bar
    [color]="color"
    [mode]="mode"
    [value]="progressBarValue">
</mat-progress-bar>

<!-- <div id= retour> 
    <mat-icon size="64" aria-label="bouton gestion compte">arrow_back</mat-icon>
</div> -->

<section *ngIf="story" layout="column" flex layout-align="center center" class = "account" >
  <mat-card layout="column"  layout-align="center center" class = "account">
      <mat-toolbar layout="row" layout-align="center center">   
          <div layout="column" layout-align="center center">
            <div >Modifier l'histoire</div>
          </div>
      </mat-toolbar>
      <div layout="row" layout-align="center center">
          <img id ="img" [src]="imgsrc ? (imgsrc | async) : photoURL">
        </div>
      <mat-card-content layout="column" layout-align="center center">      
        <div id = "changePictureButton" layout="row" layout-align="center center">
          <button mat-raised-button  (click)="fileInput.click()">Changer la couverture</button>
          <input #fileInput type="file" (change)="chooseFiles($event)" style="display:none;" />
        </div>   
        <div class = "title" layout="row" layout-align="center center">
            <mat-form-field >
            <input placeholder="Titre de l'histoire" matInput [(ngModel)]="story.title" required>
            </mat-form-field>   
        </div>

        <mat-form-field>
            <mat-select placeholder="Catégorie" [(ngModel)]="story.category" name="Catégories">
              <mat-option *ngFor="let category of categories" [value]="category.label">
                {{category.label}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style = "width:100%">
                <textarea  rows = "5" matInput [(ngModel)]="story.abstract" placeholder="Résumé de l'histoire" ></textarea>
        </mat-form-field>    
      </mat-card-content>
      <mat-card-actions>
          <div layout="row" layout-align="center center">
              <button mat-button  flex="50" (click)="saveStoryInfos()"  id="mail" >Enregistrer</button>
          </div>
      </mat-card-actions>  
  </mat-card>
</section>