/* others */
@media all
  and (min-device-width: 992px) {
    .account mat-card {
        width: 45%;
        height:95%;
    }

    img{
        height:35%;
        width:35%;
    }
}

section { 
    height: 100%;
    background: url('/assets/story-edit.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#inscription {
    margin-top:5px;
    border: 1px solid rgb(83, 131, 111);
    background: #fff no-repeat 25px;
    /* background: #ECECEC  url('/assets/email.svg') no-repeat 25px; */
    background-size: 25px;
}

@media (max-width: 700px) {
    .account mat-card {
        width: 100%;
        height:100%
    }
    .account{
       height: 100% 
    }
 
    img{
        height:30%;
        width:30%;
    }

    #retour {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
      }
}

mat-form-field {
    width: 50%;
    margin-top : 5%;
}

.login .logo {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

mat-card-content{
    display:flex
}

changePictureButton{
    margin-top:1%;
}

.title{
    margin-top: 20px;;
    width:100%
}
mat-icon{
    height:100px;
    width:100px;
}
#retour{
    padding:1px;
    margin: 0 auto;
    position:absolute;
    top:2px;
    left:0px;
    height:100px;
    width : 100px;
    background-color: aqua
}

.title-center {
    padding:1px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}