<h1 mat-dialog-title>Rédiger un nouveau passage de l'histoire </h1>
<div mat-dialog-content layout="column" layout-align="center center">   
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" placeholder="Titre">
  </mat-form-field>
  <p></p>
  <!-- <button color="primary" mat-button (click) = "addSliceTag()" >Ajouter un lien vers passage</button> -->
  <!-- <mat-form-field >
    <textarea rows = "10" matInput [(ngModel)]="data.text" placeholder="texte" ></textarea>
  </mat-form-field> -->
  <app-ngx-editor [config]="editorConfig" [(ngModel)]="data.text"></app-ngx-editor>
  <br>

</div>

<mat-chip-list #chipList>
  <mat-chip *ngFor="let choice of choices" [selectable]="selectable"
           [removable]="removable" (remove)="remove(choice)" color="accent" >
    {{choice.label}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  
</mat-chip-list>

<div mat-dialog-actions layout="row" layout-align="center center" >
  <button  mat-raised-button color="accent" (click) = "openP()" >Ajouter un choix</button>
   <!-- <button mat-button >Retour</button> -->
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>