
/* mat-tab-group{
    width:100%;
} */

/* others */
@media all
  and (min-device-width: 992px) {
    .login mat-card {
        width: 50%;
    }
}

section { 
    height: 95%;
    background: url('/assets/login.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#reader {
    margin-top :1px;
    border: 1px solid rgb(92, 173, 142);
    background:rgb(92, 173, 142)  no-repeat ;
    background-size: 35px;
    color:#fff;
}

#author {
    margin-top: 1px;
    background: rgb(67, 70, 73)  no-repeat 25px;
    background-size: 25px;
}


@media (max-width: 700px) {

    .content mat-card {
        width: 100%;
        height:90%
    }

    #reader{
        background:rgb(92, 173, 142);
    }

    #author{
        background: rgb(67, 70, 73) 
    }
}

#content{
    /* min-height: 100%; */
}

footer{
  height: 2%;
  /* margin-top: -50px; */
}

#content-inside {
    padding: 0px;
}

mat-card{
    margin-bottom:1%;
}


.title-center {
    font-size: 12px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-toolbar-row{
    height:20px;
}

.mat-toolbar{
    height:40px;
}


  