  
<section layout="column"  layout-align="center center" id = "content">
    <mat-card layout="column"  layout-align="center center" id = "content-inside">
        <mat-toolbar layout="row" layout-align="center center">
            <div layout="column" layout-align="center center">
                <div >Storym</div>
            </div>
        </mat-toolbar>
        <mat-card-content layout="column" layout-align="center center">
            <mat-tab-group>
                <mat-tab label="Acceuil">
                  <h1>Bienvenue sur Storym.io !! </h1>
                  <p> 
                      Créez et partagez facilement des histoires dont le contenu change selons les choix du lecteur.     
                  </p>
                </mat-tab> 
                <mat-tab label="Comment ça marche ?">        
                    <!-- <h2>Pour rédiger votre histoire, quelques étapes à suivre :</h2> -->
                        
                    <mat-horizontal-stepper  #stepper="matHorizontalStepper">
              
                        <mat-step class="title-center"> 
                            <ng-template matStepLabel>Créer l'histoire</ng-template>
  
                                <div  layout="row" layout-align="center center">Créez votre histoire en lui donnant un titre </div>
                                <br> 
                                <span layout="row" layout-align="center center">
                                    <img src="/assets/creer_histoire.gif" alt="Smiley face"  height="300" width="600">     
                                </span>
                        </mat-step>

                        <mat-step class="title-center">
                            <ng-template matStepLabel>Editer l'histoire</ng-template>
                            <div layout="row" layout-align="center center">
                                <p>Modifiez votre premier passage :  <br>
                                <b>Double cliquez</b> sur le passage, symbolisé par un postit afin d'ouvrir l'éditeur. <br>
                                Une fois ceci fait, vous pouvez <b>modifier</b> le titre et le texte qui sera affiché dans le passage. <br>
                                Enfin, vous pouvez <b>ajouter des choix</b> qui permettent de lier les passages les uns au autre. <br>
                                Pour chaque choix, on <b>choisie le titre unique</b> du passage auquels il conduira<br>
                                et le texte qui sera affiché au lecteur dans le bouton du choix. <br>
                                </p>
                            </div>
                            <span layout="row" layout-align="center center">
                                <img src="/assets/editer_histoire.gif" alt="Smiley face"  height="300" width="600"> 
                            </span>
                           
                        </mat-step>

                        <mat-step class="title-center">
                            <ng-template matStepLabel>Tester !</ng-template>
                            <div layout="row" layout-align="center center">
                                Plus qu'a tester !  
                            </div>
                            <br> 
                            <span layout="row" layout-align="center center">
                                <img src="/assets/tester.gif" alt="Smiley face"  height="300" width="600"> 
                            </span>
                        </mat-step>
                    </mat-horizontal-stepper>                                                
                </mat-tab>          
            </mat-tab-group>              
        </mat-card-content>
        <mat-card-actions>
            <div layout="row" layout-align="center center">
                <button mat-button flex="30" (click)="goToReaderHome()" id="reader" > Lire </button><br>
                <button mat-button flex="30" (click)="goToAuthorHome()" id="author" ><font color="white">Ecrire </font> </button>
            </div>
        </mat-card-actions>  
    </mat-card>
</section>



<mat-toolbar>
    <mat-toolbar-row>
            <span class="title-center" > Copyright@2018 Storym - Tous droits réservés </span > 
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="title-center" >     
            <a href="contact" >Contact</a> 
            <a href="infos">Informations légales</a>
            <a href="cgu" >CGU</a>
        </span>
    </mat-toolbar-row> 
</mat-toolbar>

