
<div *ngIf="story" layout-fill layout="column" layout-align="center none">
    <!-- <div class = "list" *ngFor="let slice of slicesOfStory" layout="row" layout-align="center none" flex = "100"> -->
        <!-- <h2>{{ story.title | uppercase }} </h2> -->
        <mat-card  *ngFor="let slice of slicesOfStory" layout="row" >
            <mat-card-title>{{slice.title}} </mat-card-title>
            <mat-card-content [innerHTML]="slice.text | safeHtml">
                <!-- <div [innerHTML]="post.body"></div>              -->
            </mat-card-content>
          </mat-card>      
    <!-- </div> -->
    <div class = "boutons" *ngFor="let choice of slice.choices" layout="row" layout-align="center center" flex = "100">
        <button flex = "100" mat-button (click)="addNextSliceToStory(choice)" >{{choice.label}}</button>     
    </div>  
</div>
