
<mat-toolbar>
    <mat-toolbar-row>
            <span class="title-center" > <h2>{{ story?.title | uppercase }} </h2> </span > 
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="title-center" >
            <!-- <button mat-icon-button (click)="disconnect()">
                    <mat-icon aria-label="Bouton pour se déconnecter">input</mat-icon>
            </button>       -->
            <button mat-icon-button (click)="goToHome()">
                <mat-icon aria-label="Pourton pour retourner à l'acceuil">home</mat-icon>
            </button>   
            <button mat-icon-button (click)="goToStoryTest()">
                <mat-icon aria-label="Bouton pour tester l'histoire">play_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="goToStoryManagement()">
                    <mat-icon aria-label="Bouton pour modifier les paramètres de l'histoire">create</mat-icon>
            </button>  
        </span>
    </mat-toolbar-row> 
</mat-toolbar>

