  
<section layout="column" flex layout-align="center center" class = "login" >
    <mat-card layout="column"  layout-align="center center" class = "login">
        <mat-toolbar layout="row" layout-align="center center">
            <div layout="column" layout-align="center center">
                <div >Storym</div>
            </div>
        </mat-toolbar>
        <mat-card-content layout="column" layout-align="center center">
            <mat-form-field>
              <input placeholder="Email" matInput [(ngModel)]="email" required>
            </mat-form-field>   
            <mat-form-field>
              <input placeholder="Password" matInput [(ngModel)]="password" required>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div layout="row" layout-align="center center">
                <button mat-button  flex="50" (click)="signInWithEmail()"  id="mail" >Se connecter par mail</button>
            </div>
            <div layout="row" layout-align="center center">
                <button mat-button  flex="50" id="inscription" (click)="goToRegistration()" >Inscription</button>
            </div>
            <div layout="row" layout-align="center center">
              <p> Ou </p>
            </div>
            <hr>
            <div layout="row" layout-align="center center">
                <button mat-button flex="30" (click)="signInWithFacebook()" id="fb"> Facebook </button><br>
                <button mat-button flex="30" (click)="signInWithGoogle()" id="google"> Google </button>
            </div>
            <div layout="row" layout-align="center center">
                <button mat-button flex="30" (click)="signInWithTwitter()" id="twitter" > Twitter </button><br>
                <button mat-button flex="30" (click)="signInWithGithub()" id="github" ><font color="white">Github </font> </button>
            </div>
        </mat-card-actions>  
    </mat-card>
</section>