<h1 mat-dialog-title>Rédiger un nouveau passage de l'histoire </h1>
<div mat-dialog-content>   
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" placeholder="Titre">
  </mat-form-field>
  <p></p>
  <button color="primary" mat-button (click) = "addSliceTag()" >Ajouter un lien vers passage</button>
  <mat-form-field >
    <textarea rows = "10" matInput [(ngModel)]="data.text" placeholder="texte" ></textarea>
  </mat-form-field>
  <!-- (keyup)="saveText($event)" -->
</div>
<div mat-dialog-actions>
  <button mat-button >Retour</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>