<div *ngIf="story">
    <h2>{{ story.name | uppercase }} Details</h2>
    <div><span>id: </span>{{story.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="story.name" placeholder="name"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button> 
</div>

<app-slices [slices] = slices ></app-slices>

<!-- <div layout="row" layout-padding>
  <mat-card   *ngFor="let slice of slices" flex="100">
    <a routerLink="/detail/{{story.id}}">
      <span class="badge">{{slice.title}}</span> {{story.text}}
    </a>
    <button class="delete" title="delete slice"
    (click)="delete(slice)">x</button>
  </mat-card>
</div> -->