.example-card {
    max-width: 200px;
  }
  
.image-author {
    margin-top:16px;
    margin-left:16px;
    background-size: cover;
}

.cover{
   height: 250px; 
}

mat-card {  
    height:480px;
    padding:1;
    grid-column: 1;
    grid-row: 1;
}

.title{
    margin-top:1%;
    text-align: center;
}

mat-card-content{
    text-overflow: ellipsis;
}